---
---

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,700');

$background: #f7f9ff;
$black: #0c0c0c;
$red: #ff3500;

$typography: Roboto;
$type-big: 80px;
$type-med: 40px;
$type-sm: 24px;
$bold: 700;
$lineheight-body: 1.3;


body {
    background-color: $background;
    color: $black;

    font-family: $typography, Arial;
    font-weight: 300;
    line-height: $lineheight-body;
    
    max-width: 780px;
    margin: 80px auto 80px auto;
}

h1, h2, h3 {
    font-weight: $bold;
}

h1 {
    font-size: $type-big;
}
h2 {
    font-size: $type-med;
}
h3 {
    font-size: $type-sm;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        margin-left: 10px;
    }
}

section {
    margin: 40px 0 0 0;
}

a {
    color: $black;
    text-decoration: none;
}
nav a, p a {
    border-bottom: 3px solid $red;
}

p.read-more {
    font-weight: $bold;
}

div.blog-posts {
    max-width: 540px;

    a {
        display: block;
        margin: 0 0 40px 0;
    }
}

div.circle {
    position: fixed;
    background-color: $red;
    width: 500px;
    height: 500px;
    border-radius:50%;
    bottom: -250px;
    right: -250px;

}